#################################

.DS_Store
Thumbs.db
.idea/
.vscode/
.vs/

#################################
/node_modules
/package-lock.json


/build
/dist
/out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage

.vite/
.next/
.cache/


#################################
/venv
/.venv
/env
/ENV


*/venv
*/.venv
*/env
*/ENV


*.pyc
pycache/

/dist
/build
*.egg-info/
.tox/

*.log
*.sqlite
htmlcov/
.pytest_cache/

#################################
*.slnx

.env
.env.local
.env.*.local
config.local.py
settings.secret.json

*.db
*.sqlite3

#################################
*~
*.bak
*.trc